<div class="results-header">
    <div class="results-info">
        <span>
            Найдено: 100
        </span>
    </div>
    <div class="page-size-selector">
        <span>На странице:</span>
        <select class="select">
            <option :value="10">10</option>
            <option :value="20">20</option>
            <option :value="50">50</option>
        </select>
    </div>
</div>